/* Сообщения пользователя */
UserMessage {
    width: 100%;
    align: right top;
    height: auto;
    margin-bottom: 2;
}

UserMessage .bubble {
    width: auto;
    max-width: 90%;
    padding: 0 2;
    border: tall $accent;
}

/* Сообщения бота */
BotMessage {
    align: left top;
    height: auto;
    width: 100%;
    margin-bottom: 2;
}

BotMessage .bubble {
    width: auto;
    max-width: 90%;
    border: tall $primary;
    color: $text;
    padding: 0 2;
}

BotMessage BotLoading {
    padding: 0 0 0 2;
    color: $accent;
}

/*==================================================================================*/

/* Левая боковая панель */
#sidebar {
    background: $surface;
    padding: 0;
    width: 1fr;
    height: 100%;
}

#btn_create_chat {
    width: 100%;
    height: 3;
    dock: bottom;
    content-align: center middle;
    background: $surface-lighten-1;
    margin: 1 2 1 1;
}

ChatItem {
    layout: horizontal;
    height: 3;
    width: 100%;
    border-left: tall transparent;
}

#btn_select {
    width: 1fr;
    content-align: left middle;
}

#btn_select.active-chat {
    background: $surface-lighten-2;
    color: $text;
    text-style: bold;
}

ChatItem.active-chat-container {
    border-left: tall $accent;
}

/* Кнопки управления */
#btn_rename, #btn_delete {
    min-width: 5;
    content-align: center middle;
    color: $text-muted;
}

#btn_rename:hover {
    color: $text;
}

#btn_delete:hover {
    color: $text;
    background: $error;
}

/*==================================================================================*/

/* Центральная панель с чатом */
#chat_panel {
    width: 3fr;
    height: 100%;
    padding: 1 1 0 1;
    border: vkey $border;
}

/* Лог сообщений сверху */
#chat_log {
    scrollbar_visibility: hidden;
}

/* Поле ввода снизу */
#chat_input {
    margin: 1 0 0 0;
    height: 3;
    dock: bottom;
}

/*==================================================================================*/

/* Правая панель настроек */
#info_panel {
    width: 1fr;
    height: 100%;
    padding: 1 2;
    background: $surface;
}

#info_panel Label {
    margin: 0 0 0 1;
}

#info_panel Select {
    margin-bottom: 1;
}

#model > SelectCurrent {
    border: tall $border;
}

#model > SelectOverlay {
    border: round $border;
    max-height: 14;
}

#providers {
    border: solid $border;
    height: 1fr;
}
