UserMessage {
    width: 100%;
    align: right top;
    height: auto;
    margin-bottom: 2;
}

UserMessage .bubble {
    width: auto;
    max-width: 90%;
    padding: 0 2;
    border: tall $accent;
}

BotMessage {
    align: left top;
    height: auto;
    width: 100%;
    margin-bottom: 2;
}

BotMessage .bubble {
    width: auto;
    max-width: 90%;
    border: tall $primary;
    color: $text;
    padding: 0 2;
}

BotMessage BotLoading {
    padding: 0 0 0 2;
}

/* Левая боковая панель */
#sidebar_panel {
    width: 1fr;
    height: 100%;
}

/* Правая часть с чатом */
#chat_panel {
    width: 3fr;
    height: 100%;
    padding: 1 1 0 1;
    border: vkey $border;
}

/* Лог сообщений сверху */
#chat_log {
    scrollbar_visibility: hidden;
}

/* Поле ввода снизу */
#chat_input {
    margin: 1 0 0 0;
    height: 3;
    dock: bottom;
}

#info_panel {
    width: 1fr;
}